<div id="search">
  <input type="text" value='' />
</div>
<div id="order">
  <select>
    <option selected="selected">id</option>
    <option>content</option>
    <option>title</option>
  </select>
</div>
<table>
  <tbody>
    <tr>
     <th>Title</th>
     <th>Content</th>
     <th></th>
     <th></th>
     <th></th>
    </tr>
  </tbody>
</table>
<div id="pagination"></div>
<a href="#new">New Post</a>